@(schedules: List[Schedule])(date: String, pageId: Int, totalPages: Int, pageSize: Int)
@import scala.collection.immutable.HashMap; val page = (pageId - 1) * pageSize

<script type="text/javascript">
function nextPage() {
	window.location="@{var map: Map[String,Int] = HashMap("page" -> (pageId+1)); controllers.routes.Application.schedules(pageId + 1).url}"
}

function prevPage() {
	window.location="@{var map: Map[String,Int] = HashMap("page" -> (pageId-1)); controllers.routes.Application.schedules(pageId - 1).url}"
}
</script>
<div id="schedules">
 
 <table>
  <caption align="left">Tech Schedules for @date (page: @pageId of @totalPages)</caption>
  <thead>
    <tr>
       <th scope="rowgroup">Employee Number</th>
       <th scope="col">Service Order Number</th>
       <th scope="col">Start Time</th>
       <th scope="col">Transit Time</th>
       <th scope="col">Departure Time</th>
       <th scope="col">Job Duration</th>
    </tr>
  </thead>
  <tbody>
  
   @for( schedule<- schedules.slice(page, page + pageSize - 1)) {
 	<tr>
 		<td>@schedule.employeeNumber</td>
 		<td>@schedule.serviceOrderNumber</td>
 		<td>@schedule.jobStartTime</td>
 		<td>@schedule.transitTime</td>
 		<td>@schedule.estimatedDepartureTime</td>
 		<td>@schedule.jobDuration</td>
 	</tr> 
 	}
  </tbody>
 </table>
 @if(pageId>1) {
   <input type="button" value="prev page" onclick="prevPage()" align="right"/>
 }
 @if(pageId<totalPages) {
   <input type="button" value="next page" onclick="nextPage()" align="right"/>
 }
</div>
